/* Цвет основного текста #757575 */
/* Цвет загoловков #212121 */
/* Цвет акцентирования внимания #2196f3 */
/* Цвет вторичного фона f5f4fa */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --logo-web-color: #2196f3;
  --logo-studio-color: #000000;
}
body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* Site nav */
.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.logo .web {
  color: var(--logo-web-color);
}
.logo .studio-dark {
  color: var(--logo-studio-color);
}
.logo .studio-light {
  color: #ffffff;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
  width: 1600px;
  height: 600px;
}
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero > .hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.button {
  background-color: var(--accent-text-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
}
/* Section */
.section .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.section .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.our-team {
  background-color: #f5f4fa;
}
.section .team-name {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
}
.section .position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
}
